{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ 'app.default.welcome'|trans }}</h1>
            <p>AV Motiv</p>
        </div>
    </div>
{% endblock %}
